           
  <div class="maintain-aspect16by9">       
    <iframe src="https://www.youtube.com/embed/dXje_QnF49w?rel=0" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="row">
        
    <h2 style="text-align:center; font-size: 3em;">Adventure Mashup</h2>
    <p style="text-align:center; font-size:2em;">
        The framework for creating interactive stories and a place to find these stories.
    </p>
    <p style="text-align:center;">
        The framework combines together many short movies called scenes, the user actions then determine which scenes they experience. These movies can be created using animation software like <a href="http://www.blender.org/">Blender</a>, or
        use software like <a href="http://fraps.com/">Fraps</a> to record gameplay footage from video games like Minecraft or World of Warcraft, or even use a movie camera with your friends.
    </p>
    <p style="text-align:center;">
        <input type="submit" name="ctl00$MainContent$bRequestInvite" value="Request an Invite" id="MainContent_bRequestInvite" class="btn btn-primary" /> 
    </p>
             
  </div>
  <footer>
    <p>&copy; 2016 Adventure Mashup</p>
  </footer>
