           
<div ng-controller="searchCatalogController" ng-cloak>
  <md-content layout="column">
    <md-input-container class="md-block"  flex-gt-sm>
      <label>Search</label>
      <input ng-model='searchForm.keywords'
        ng-model-options='{ debounce: 1000 }'
        ng-change='searchUpdate()'>
    </md-input-container>
    <md-virtual-repeat-container id="vertical-container">
      <div md-virtual-repeat="item in infiniteItems" md-on-demand
          class="repeated-item" flex>
          <div class="os-wrapper">
            <div class="thumbnail_empty" ng-show="!item.col[0].title">             
            </div>
            <div class="thumbnail" ng-show="item.col[0].title.length > 0">
                <h3>{{item.col[0].title}}</h3>
                <img src="/images/map_castle.jpg" width="100%" alt="...">
                <div class="caption">                    
                    <p>{{item.col[0].Description}}</p>
                </div>  
                <div class="button_section">
                      <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2FAdventureMashup.com%2Fstory_detail.aspx%3Fcat%3D&amp;width&amp;layout=box_count&amp;action=like&amp;show_faces=true&amp;share=false&amp;height=65" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:65px; width:60px;display:inline-block;" allowTransparency="true"></iframe>
                      <iframe allowtransparency="true" frameborder="0" scrolling="no" src="https://platform.twitter.com/widgets/tweet_button.html?url=https://AdventureMashup.com/detail_story.aspx?cat=&count=vertical" style="width:60px; height:65px;display:inline-block;"></iframe>
                      <a ng-click="" class="btn btn-default">More</a>
                      <a ng-click="" class="btn btn-default">Download</a>
                </div>   
            </div>
            <div class="thumbnail_empty" ng-show="!item.col[1].title">
            </div>
            <div class="thumbnail" ng-show="item.col[1].title.length > 0">
                <h3>{{item.col[1].title}}</h3>
                <img src="/images/map_castle.jpg" width="100%" alt="...">
                <div class="caption">                                       
                    <p>{{item.col[1].Description}}</p>
                </div>    
                <div class="button_section">
                      <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2FAdventureMashup.com%2Fstory_detail.aspx%3Fcat%3D&amp;width&amp;layout=box_count&amp;action=like&amp;show_faces=true&amp;share=false&amp;height=65" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:65px; width:60px;display:inline-block;" allowTransparency="true"></iframe>
                      <iframe allowtransparency="true" frameborder="0" scrolling="no" src="https://platform.twitter.com/widgets/tweet_button.html?url=https://AdventureMashup.com/detail_story.aspx?cat=&count=vertical" style="width:60px; height:65px;display:inline-block;"></iframe>
                      <a ng-click="" class="btn btn-default">More</a>
                      <a ng-click="" class="btn btn-default">Download</a>
                </div>            
            </div>
            <div class="thumbnail_empty" ng-show="!item.col[2].title">
            </div>            
            <div class="thumbnail" ng-show="item.col[2].title.length > 0">
                <h3>{{item.col[2].title}}</h3>
                <img src="/images/map_castle.jpg" width="100%" alt="...">
                <div class="caption">
                    <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2FAdventureMashup.com%2Fstory_detail.aspx%3Fcat%3D&amp;width&amp;layout=box_count&amp;action=like&amp;show_faces=true&amp;share=false&amp;height=65" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:65px; width:60px;display:inline-block;" allowTransparency="true"></iframe>
                    <iframe allowtransparency="true" frameborder="0" scrolling="no" src="https://platform.twitter.com/widgets/tweet_button.html?url=https://AdventureMashup.com/detail_story.aspx?cat=&count=vertical" style="width:60px; height:65px;display:inline-block;"></iframe>
                    <p>{{item.col[2].Description}}</p>
                </div>
               <div class="button_section">
                      <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2FAdventureMashup.com%2Fstory_detail.aspx%3Fcat%3D&amp;width&amp;layout=box_count&amp;action=like&amp;show_faces=true&amp;share=false&amp;height=65" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:65px; width:60px;display:inline-block;" allowTransparency="true"></iframe>
                      <iframe allowtransparency="true" frameborder="0" scrolling="no" src="https://platform.twitter.com/widgets/tweet_button.html?url=https://AdventureMashup.com/detail_story.aspx?cat=&count=vertical" style="width:60px; height:65px;display:inline-block;"></iframe>
                      <a ng-click="" class="btn btn-default">More</a>
                      <a ng-click="" class="btn btn-default">Download</a>
                </div>       
            </div>
          </div>
      </div>
    </md-virtual-repeat-container>
  </md-content>
</div>
