<div class="col-md-4">
  <h1>Story</h1>
  <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
  <form class="form" ng-submit="write_catalog()"‌>
    <!-- _id: String,
    uidGroup: String,
    fkuidGroup: String, -->

    <md-input-container class="md-block" flex-gt-sm>
      <label>Title</label>
      <input ng-model="catalogForm.title" >
    </md-input-container>

    <md-input-container class="md-block" flex-gt-sm>
      <label>Description</label>
      <input ng-model="catalogForm.description" >
    </md-input-container>

    <!--
      width: Number,
      height: Number,
      fontSize: Number,
      fkuidGroup_t_catalog_scene_first: String,
    -->
<label aria-label="blue" aria-controls="blue-slider">Age Range:</label>
    <md-slider-container>
      
      <label aria-label="blue" aria-controls="blue-slider">From</label>
      <md-slider class="md-primary" flex min="0" max="18" ng-model="catalogForm.AgeFrom" aria-label="blur">
      </md-slider>
      <label aria-label="blue" aria-controls="blue-slider">{{catalogForm.AgeFrom}}</label>
    </md-slider-container>

    <md-slider-container>
      <label aria-label="blue" aria-controls="blue-slider">To</label>
      <md-slider class="md-primary" flex min="0" max="18" ng-model="catalogForm.AgeTo" aria-label="blue">
      </md-slider>
      <label aria-label="blue" aria-controls="blue-slider">{{catalogForm.AgeTo}}</label>
    </md-slider-container>

    <!--
      fkuidGroup_t_catalog_genre: String
    -->
    <div class="form-group">
      <label>Download Link:</label>
      <div ng-repeat="downloadLink in catalogForm.DownloadLink track by $index">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Download Link {{$index}}</label>
            <input ng-model="catalogForm.DownloadLink[$index].value" >
          </md-input-container>
      </div>
      
      <a ng-click="catalogForm.DownloadLink.push({value:''})" class="btn btn-default">Add</a>
    </div>   
 
    <md-input-container class="md-block" flex-gt-sm>
      <label>Embed YouTube Link</label>
      <input ng-model="catalogForm.YouTubeEmbedUrl" name="YouTubeEmbedUrl" >
    </md-input-container>

    <md-input-container class="md-block" flex-gt-sm>
      <label>Image Url 1</label>
      <input ng-model="catalogForm.ImageUrl1" name="ImageUrl1" >
    </md-input-container>

    <md-input-container class="md-block" flex-gt-sm>
      <label>Image Url 2</label>
      <input ng-model="catalogForm.ImageUrl2" name="ImageUrl2" >
    </md-input-container>

    <md-input-container class="md-block" flex-gt-sm>
      <label>Image Url 3</label>
      <input ng-model="catalogForm.ImageUrl3" name="ImageUrl3" >
    </md-input-container>

    <md-input-container class="md-block" flex-gt-sm>
      <label>Image Url 4</label>
      <input ng-model="catalogForm.ImageUrl4" name="ImageUrl4" >
    </md-input-container>

    <md-input-container class="md-block" flex-gt-sm>
      <label>Image Url 5</label>
      <input ng-model="catalogForm.ImageUrl5" name="ImageUrl5" >
    </md-input-container>

    <div class="form-group">
    <label>Write Permission:</label>
      <div ng-repeat="writePermission in catalogForm.WritePermissions track by $index">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Download Link {{$index}}</label>
            <input ng-model="catalogForm.WritePermissions[$index].value" >
          </md-input-container>      
      </div>
      
      <a ng-click="catalogForm.WritePermissions.push({value:''})" class="btn btn-default">Add</a>
    </div>
    <!-- 
    Hide: Number,
    -->
    <!--
    ModReview: Number, 
    FlagInappropriate: Number,  
    fkuidGroup_t_catalog_update: String,  
    RecordCurrent: Number, 
    DateRecordCurrent: Date
    -->
    <div class="form-group">
      <md-checkbox name="Released" ng-model="catalogForm.Released" ng-true-value="1" ng-false-value="0">Publish</md-checkbox>
      <div>
        <button type="submit" class="btn btn-default">Save</button>
      </div>
  </form>
</div>