body {
    font-size:2vw;
}

.maintain-aspect16by9 
{
    margin-top:25px;
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
    width: 100%;
}

.maintain-aspect16by9 > iframe
{
    width:100% !important;
    height:100% !important;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
}

.md-virtual-repeat-container {
    position: relative;
    display: inline-flex;
    
    width: 100%;
    height: 100vh;
    /*border: solid 1px #ccc;*/
    padding: 10px;
}


.os-wrapper{
    display:-webkit-flex;

    display:flex;    
    justify-content:center;
}

.thumbnail {
  position:relative;
  align-content: top;
  /*display: inline-block;*/
  flex: 1;  
  width: 32%;
  height: 60vw;
  /*max-width: 32%;*/
  padding: 4px;
  line-height: 1.428571429;
  /*background-color: #ffffff;*/
  background-color: #FFF8E0;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
}

.thumbnail_empty {
  /*display: inline-block;*/
  flex: 1;
  width: 32%;
  height: 60vw;
  /*max-width: 32%;*/
  padding: 4px;
  line-height: 1.428571429;
  /*background-color: #ffffff;*/
  /*background-color: #FFF8E0;
  border: 1px solid #dddddd;*/
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
}

.os-wrapper div{
    /*-webkit-flex:1;
    flex:1;*/
    
    margin: 3px 3px 3px 3px;
   
}

.thumbnail > img {
  margin-right: auto;
  margin-left: auto;
}

.thumbnail .caption {
  float:left;
  padding: 9px;
  color: #333333;
}

.md-sidenav-left {
    height: 100%;
} 

.button_section{
    float:right;    
}

h3 {
    margin-top:0px;
    font-size:2vw;
    font-weight: 0.1vw;
}

@media all and (max-width: 650px) {
    body{
        font-size:2vw;
    }
    
    .os-wrapper{
        display:-webkit-flex;

        display:flex;    
        justify-content:center;
        flex-direction: column;
    }

    .thumbnail {
         /*display: inline-block;*/
        flex: 1;
        width: 96%;
        height: 120vw;        
        padding: 4px;
        line-height: 1.428571429;
        /*background-color: #ffffff;*/
        background-color: #FFF8E0;
        border: 1px solid #dddddd;
        border-radius: 4px;
        -webkit-transition: all 0.2s ease-in-out;
                transition: all 0.2s ease-in-out;
    }

    .thumbnail_empty {
        display: inline-block;
        width: 96%;
        height: 120vw;        
        padding: 4px;
        line-height: 1.428571429;
        /*background-color: #ffffff;*/
        /*background-color: #FFF8E0;
        border: 1px solid #dddddd;*/
        border-radius: 4px;
        -webkit-transition: all 0.2s ease-in-out;
                transition: all 0.2s ease-in-out;
    }

    h3 {
        margin-top:0px;
        font-size:2vw;
    }
}